<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="f-48 text-center mt-3">{{divide.name}}</h2>
            <div class="row">
                {{#if divide.Products}}
                    {{#each divide.Products}}
                        <div class="col-md-3 mt-4 col-sm-6">
                            <a href="/kategorii/{{../divide.id}}/tovary/{{id}}" class="a-hover">
                                <div class="card d-flex align-items-center">
                                    <div class="card-box-img">
                                        <img src="/{{Images.[0].srcImage}}" alt="card-img">
                                    </div>
                                    <div class="gold-border">
                                        <div class="f-24 text-center pt-3">{{name}}</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
</div>