<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/slider/slide-2.jpg" class="d-block w-100" alt="example">
                        <div class="carousel-caption">
                            <h5>Метка первого слайда</h5>
                            <p>Некоторый репрезентативный заполнитель для первого слайда.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/images/slider/slide-1.jpg" class="d-block w-100" alt="example">
                        <div class="carousel-caption">
                            <h5>Метка второго слайда</h5>
                            <p>Некоторый репрезентативный заполнитель для второго слайда.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/images/slider/slide-3.jpg" class="d-block w-100" alt="example">
                        <div class="carousel-caption">
                            <h5>Метка третьего слайда</h5>
                            <p>Некоторый репрезентативный заполнитель для третьего слайда.</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Предыдущий</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Следующий</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-3">
        <div class="col-12">
            <h2 class="f-36 text-center">Выгодные предложения</h2>
            <div class="row mt-4">
                <div class="col-md-4 mb-3 mb-md-0 col-sm-6">
                    <div class="card d-flex align-items-center mx-auto">
                        <img src="/images/card-img.png" alt="card-img">
                        <div class="sale f-24 d-flex justify-content-center align-items-center">-30% объекты</div>
                        <a href="#" class="card-button text-center"><span class="gold-text">Купить сейчас</span></a>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0 col-sm-6">
                    <div class="card d-flex align-items-center mx-auto">
                        <img src="/images/card-img.png" alt="card-img">
                        <div class="sale f-24 d-flex justify-content-center align-items-center">-30% объекты</div>
                        <a href="#" class="card-button text-center">Купить сейчас</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card d-flex align-items-center mx-auto">
                        <img src="/images/card-img.png" alt="card-img">
                        <div class="sale f-24 d-flex justify-content-center align-items-center">-30% объекты</div>
                        <a href="#" class="card-button text-center">Купить сейчас</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="divider mt-5"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="f-36 text-center">Наши товары</h2>
            <div class="row mt-4">
                {{#if products}}
                    {{#each products}}
                        <div class="col-md-4 mb-4 col-sm-6">
                            <div class="card d-flex align-items-center mx-auto">
                                <img src="/{{Products.[0].Images.[0].srcImage}}" alt="card-img">
                                <div class="product-name f-18 text-center">{{Products.[0].name}}</div>
                                <div class="product-price f-26 text-center">{{Products.[0].price}} руб.</div>
                                <a class="cart-link" href="#">
                                    <div class="cart text-center f-20"><img src="/images/icons/cart.svg" alt="cart"></div>
                                </a>
                                <a class="buy-link" href="/kategorii/{{id}}/{{Products.[0].id}}">
                                    <div class="buy text-center">Купить</div>
                                </a>
                            </div>
                        </div>
                    {{/each}}
                {{/if}}
                <div class="col-12 d-flex justify-content-center">
                    <a href="/kategorii" class="catalog-button text-center">Каталог</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="divider mt-5"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="f-36 text-center">Наши услуги</h2>
            <div class="row mt-4">
                {{#if homeServices}}
                    {{#each homeServices}}
                        <div class="col-md-4 mb-4 col-sm-6">
                            <div class="card d-flex align-items-center mx-auto">
                                <img class="img-fluid h-100" src="/{{Images.[0].srcImage}}" alt="card-img">
                                <div class="service f-24 text-center">{{name}}
                                    <a href="/uslugi/{{id}}" class="service-button text-center">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
</div>

<div class="divider mt-3"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="f-36 text-center gold-text">Таблица скидок</h2>
            <div class="text-center f-26">Отводы 380р</div>
            <div class="divider"></div>
            <div class="text-center f-24">От 50 шт 2% скидка</div>
            <div class="divider"></div>
            <div class="text-center f-24">От 100 шт 4% скидка</div>
            <div class="divider"></div>
            <div class="text-center f-24">От 250 шт 7% скидка</div>
            <div class="divider"></div>
            <div class="text-center f-24">От 500 шт 11% скидка</div>
            <div class="divider"></div>
            <div class="text-center f-24">От 1000 шт 14% скидка</div>
            <div class="divider"></div>
        </div>
    </div>
</div>

<div class="divider"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="gif">
                <h1 class="text-center mt-5 mb-5">ТУТ БУДЕТ ГИФКА</h1>
            </div>
        </div>
    </div>
</div>

<div class="divider"></div>

<div class="container">
    <div class="row">
        <div class="col-9 mx-auto">
            <form class="home-form">
                <h2 class="text-center f-36">Свяжитесь с нами</h2>
                <div class="row">
                    <div class="col-lg-6 form-group">
                        <label for="contactName">ФИО</label>
                        <input name="contactName" type="text" id="contactName" class="form-control" placeholder="Ваше имя">
                    </div>
                    <div class="col-lg-6 form-group">
                        <label for="organizationName">Название организации</label>
                        <input name="organizationName" type="text" id="organizationName" class="form-control" placeholder="Ваша организация">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 form-group">
                        <label for="divideName">Контакты</label>
                        <input name="divideName" type="text" id="divideName" class="form-control" placeholder="Номер телефона или email">
                    </div>
                    <div class="col-lg-6 form-group">
                        <label for="divideName">Список товаров</label>
                        <input name="divideName" type="text" id="divideName" class="form-control" placeholder="Выберите товар">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 form-group">
                        <label for="divideName">Количество</label>
                        <input name="divideName" type="text" id="divideName" class="form-control" placeholder="Введите количество товара">
                    </div>
                    <div class="col-lg-6 form-group">
                        <label for="divideName">Когда</label>
                        <input name="divideName" type="text" id="divideName" class="form-control" placeholder="Введите дату доставки">
                    </div>
                </div>
                <div class="col-lg-8 mx-auto">
                    <label for="divideName">Адрес</label>
                    <input name="divideName" type="text" id="divideName" class="form-control" placeholder="Введите адрес доставки">
                </div>
                <div class="col-12 d-flex justify-content-center mt-3">
                    <button class="catalog-button">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>