<div class="container">
    <div class="row productBox">
        <div class="col-12">
            <h2 class="mt-3 ml-3 pb-3 mb-0">{{product.name}}</h2>
            <div class="gold-divider mb-3"></div>
        </div>
        <div class="col-lg-6">
            <ul class="nav nav-pills mb-3 justify-content-center" id="pills-about-tab" role="tablist">
                <li class="nav-item col-sm-6 col-8">
                    <a class="nav-link active text-center" id="pills-descr-tab" data-toggle="pill" href="#pills-descr" role="tab" aria-controls="pills-descr" aria-selected="true">Описание</a>
                </li>
                <li class="nav-item col-sm-6 col-8">
                    <a class="nav-link text-center" id="pills-char-tab" data-toggle="pill" href="#pills-char" role="tab" aria-controls="pills-char" aria-selected="false">Характеристики</a>
                </li>
            </ul>
            <div class="tab-content col-12" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-descr" role="tabpanel" aria-labelledby="pills-descr-tab">
                    <div class="row mr-3 ml-3 mt-3">
                        <p>
                            {{product.description}}
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-char" role="tabpanel" aria-labelledby="pills-char-tab">
                    {{#each product.Sizes}}
                        <section class="d-none size-{{id}}">
                            <input type="hidden" value="{{weight}}">
                            <input type="hidden" value="{{volume}}">
                            <input type="hidden" value="{{gost}}">
                        </section>
                    {{/each}}
                    {{#if product.Sizes}}
                        <label for="productSizes">Выберите размер</label>
                        <select name="productSizes" id="productSizes" class="form-control">
                            {{#each product.Sizes}}
                                <option value="size-{{id}}">
                                    Вес: {{weight}}   Объем: {{volume}}
                                </option>
                            {{/each}}
                        </select>
                    {{/if}}
                    <div class="row mb-3 mt-3 justify-content-center">
                        {{#if product.pressure}}
                            <div class="col-sm-3 col-6 mb-md-0 mb-3">
                                <div class="character-box text-center pl-2 pr-2">
                                    <p>{{product.pressure}}</p>
                                    <p>Номинальное давление PN, МПа</p>
                                </div>
                            </div>
                        {{/if}}
                        {{#if product.depth}}
                            <div class="col-sm-3 col-6 mb-md-0 mb-3">
                                <div class="character-box text-center pl-2 pr-2">
                                    <p>{{product.depth}}</p>
                                    <p>Толщина стенки, мм</p>
                                </div>
                            </div>
                        {{/if}}
                        {{#if product.externalDiameter}}
                            <div class="col-sm-3 col-6">
                                <div class="character-box text-center pl-2 pr-2">
                                    <p>{{product.externalDiameter}}</p>
                                    <p>Внешний диаметр, мм</p>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                    <h3 class="text-center">Характеристики</h3>
                    <div class="row justify-content-between border-bottom mb-2">
                        <p class="mb-1">Вес</p>
                        <p class="mb-1 product-weight"></p>
                    </div>
                    <div class="row justify-content-between border-bottom mb-2">
                        <p class="mb-1">Объем</p>
                        <p class="mb-1 product-volume"></p>
                    </div>
                    {{#if product.environ}}
                        <div class="row justify-content-between border-bottom mb-2">
                            <p class="mb-1">Рабочая среда</p>
                            <p class="mb-1">{{product.environ}}</p>
                        </div>
                    {{/if}}
                    {{#if product.temp}}
                        <div class="row justify-content-between border-bottom mb-2">
                            <p class="mb-1">Максимальная температура рабочей среды C</p>
                            <p class="mb-1">{{product.temp}}</p>
                        </div>
                    {{/if}}
                    {{#if product.material}}
                        <div class="row justify-content-between border-bottom mb-2">
                            <p class="mb-1">Материал корпуса</p>
                            <p class="mb-1">{{product.material}}</p>
                        </div>
                    {{/if}}
                    {{#if product.connect}}
                        <div class="row justify-content-between border-bottom mb-2">
                            <p class="mb-1">Тип соединения</p>
                            <p class="mb-1">{{product.connect}}</p>
                        </div>
                    {{/if}}
                    {{#if product.diameter}}
                        <div class="row justify-content-between border-bottom mb-2">
                            <p class="mb-1">Диаметр условный DN,мм</p>
                            <p class="mb-1">{{product.diameter}}</p>
                        </div>
                    {{/if}}
                    {{#if product.dimension}}
                        <div class="row justify-content-between border-bottom mb-2">
                            <p class="mb-1">Единица измерения</p>
                            <p class="mb-1">{{product.dimension}}</p>
                        </div>
                    {{/if}}
                    <div class="row justify-content-between border-bottom mb-2">
                        <p class="mb-1">Соответствие ГОСТ</p>
                        <p class="mb-1 product-gost"></p>
                    </div>
                    {{#if product.pressure}}
                        <div class="row justify-content-between border-bottom mb-2">
                            <p class="mb-1">Номинальное давление PN, МПа</p>
                            <p class="mb-1">{{product.pressure}}</p>
                        </div>
                    {{/if}}
                    {{#if product.depth}}
                        <div class="row justify-content-between border-bottom mb-2">
                            <p class="mb-1">Толщина стенки, мм</p>
                            <p class="mb-1">{{product.depth}}</p>
                        </div>
                    {{/if}}
                    {{#if product.externalDiameter}}
                        <div class="row justify-content-between border-bottom mb-2">
                            <p class="mb-1">Внешний диаметр, мм</p>
                            <p class="mb-1">{{product.externalDiameter}}</p>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item col-sm-6 col-8">
                    <a class="nav-link active text-center" id="pills-images-tab" data-toggle="pill" href="#pills-images" role="tab" aria-controls="pills-images" aria-selected="true">Изображения</a>
                </li>
                {{#if product.Videos}}
                <li class="nav-item col-sm-6 col-8">
                    <a class="nav-link text-center" id="pills-videos-tab" data-toggle="pill" href="#pills-videos" role="tab" aria-controls="pills-videos" aria-selected="false">Видео</a>
                </li>
                {{/if}}
            </ul>
            <div class="tab-content col-12" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-images" role="tabpanel" aria-labelledby="pills-images-tab">
                    <div class="row">
                        <div class="full-img-wrapper mb-2 d-none d-sm-block col-12">
                            <img id="product{{product.id}}" src="/{{product.Images.[0].srcImage}}" alt="image" class="full-img small-image" width="100%" height="100%">
                        </div>
                        <div class="scrolling-wrapper col-12">
                            {{#each product.Images}}
                                <img loading="lazy" src="/{{srcImage}}" class="scrolling-img" alt="img{{@index}}" onclick="selectedImg(this, {{../product.id}})">
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{#if product.Videos}}
                <div class="tab-pane fade" id="pills-videos" role="tabpanel" aria-labelledby="pills-videos-tab">
                        <div class="tab-content col-12" id="pills-tabContent">
                            {{#each product.Videos}}
                                <div class="tab-pane fade {{#ifeq @index '0'}}show active{{/ifeq}}" id="pills-video{{@index}}" role="tabpanel" aria-labelledby="pills-video{{@index}}">
                                    <div class="col-12 d-flex justify-content-center draft-video">
                                        <iframe width="560" height="315" src="{{url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                        {{#each product.Videos}}
                            <li class="nav-item col-6">
                                <a class="nav-link {{#ifeq @index '0'}}active{{/ifeq}} text-center" id="pills-video{{@index}}" data-toggle="pill" href="#pills-video{{@index}}" role="tab" aria-controls="pills-video{{@index}}" aria-selected="true">{{#ifeq @index '0'}}Первое{{/ifeq}}{{#ifeq @index '1'}}Второе{{/ifeq}} видео</a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}
            </div>


            <!--            Инпуты-->
            <div class="col-md-8 offset-md-4 col-12">
                <div class="form-group mb-0 mt-3">
                    <label for="productCount">Введите количество</label>
                    <input id="productCount" class="form-control" name="productCount" type="number" min="{{product.count}}" value="{{product.count}}" onkeyup="totalPrice($('.productPrice')[0], this, {{product.price}})" onchange="totalPrice($('.productPrice')[0], this, {{product.price}})">
                    <label for="productCount">* Минимальное количество заказа {{product.count}}{{product.dimension}}.</label>
                </div>
                <div class="row justify-content-md-center justify-content-between flex-sm-row flex-column align-items-center">
                    <input class="product-buy-name" type="hidden" value="{{product.name}}">
                    <input class="product-buy-image" type="hidden" value="/{{product.Images.[0].srcImage}}">
                    <input class="product-buy-min-count" type="hidden" value="{{product.count}}">
                    <input class="product-buy-price" type="hidden" value="{{product.price}}">
                    <p class="productPriceBox text-center">Стоимость: <span class="productPrice"></span> руб.</p>
                    <button type="button" class="divide-button cartBuy" data-id="{{product.id}}">В корзину
                        <span>
                            <svg width="30" height="27" viewBox="0 0 30 27" fill="black" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_17_48)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.935 21.7822C9.3712 21.8021 10.5213 22.9789 10.5081 24.4152C10.495 25.8514 9.32348 27.007 7.88717 27.0005C6.45085 26.994 5.28989 25.8278 5.28975 24.3915C5.29391 23.6945 5.57509 23.0278 6.07131 22.5383C6.56752 22.0489 7.23803 21.7769 7.935 21.7822ZM16.7633 21.7822C18.1979 21.8082 19.3423 22.9877 19.3251 24.4224C19.3078 25.8572 18.1354 27.0088 16.7005 27.0003C15.2657 26.9918 14.107 25.8263 14.1068 24.3915C14.1199 22.9375 15.3092 21.7694 16.7633 21.7822ZM30 4.5H7.5L3.75 0H0L10.5 15H19.5L18 17.25H6.75L3.75 20.25H19.5L30 4.5Z" fill="black"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7 6H22L20.5 7.5H8.5L7 6ZM9.25 9H19L17.5 10.5H10.75L9.25 9Z" fill="black"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_17_48">
                                        <rect width="30" height="27" fill="currentColor"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </span>
                    </button>
                    <div class="add-success position-fixed gold-border animate__animated">
                        <p>Товар добавлен</p>
                        <div class="col-12 d-flex justify-content-center">
                            <a href="/korzina" class="divide-button p-2">Перейти в корзину</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{#if thisDivide.arrayProducts}}
    <div class="divider"></div>
    <h2 class="f-36 text-center">Похожие товары</h2>
    <div class="row">
        {{#each thisDivide.arrayProducts}}
        <div class="col-lg-3 col-sm-4 mt-4 col-12 mb-3 d-flex justify-content-center">
            <a href="/kategorii/{{../thisDivide.id}}/tovary/{{id}}" class="a-hover">
                <div class="card d-flex align-items-center">
                    <div class="card-box-img">
                        <img src="/{{Images.[0].srcImage}}" alt="card-img">
                    </div>
                    <div class="gold-border">
                        <div class="f-24 text-center pt-4">{{name}}</div>
                    </div>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>