<div class="container">
    <div class="row justify-content-center mb-5 mt-5">
        <div class="col-12">
            <h3 class="text-center mb-3">Редактирование видео для
                {{#unless productsSelected}}услуги "{{servicesSelected.name}}"{{/unless}}
                {{#unless servicesSelected}}товара "{{productsSelected.name}}"{{/unless}}
                {{#if productsSelected}} {{#if servicesSelected}} товара "{{productsSelected.name}}" и услуги "{{servicesSelected.name}}"{{/if}}{{/if}}
            </h3>
        </div>
        {{#if editSuccess}}
            <div class="col-7">
                <div class="alert alert-success text-center">{{editSuccess}}</div>
            </div>
        {{/if}}
        <div class="col-lg-6 col-12">
            <form action="/control/edit-video/{{video.id}}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="videoUrl">Ссылка на видео из YouTube</label>
                    <input name="videoUrl" type="text" id="videoUrl" class="form-control" value="{{video.url}}">
                </div>
                <div class="form-group">
                    <label for="videoSelect">Выберите товар</label>
                    <select name="videoSelect" id="videoSelect" class="form-control">
                        {{#if products}}
                            <option value="" disabled>Выберите товар</option>
                            <option value="">Для товара не нужно</option>
                            {{#each products}}
                                    <option value="{{name}}" {{#if ../productsSelected}}{{#ifeq this.id ../productsSelected.id}}selected{{/ifeq}}{{/if}}>{{name}}</option>
                            {{/each}}
                        {{else}}
                            <option value="" selected disabled>Товары отсутствуют</option>
                        {{/if}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="videoServiceSelect">Выберите услугу</label>
                    <select name="videoServiceSelect" id="videoServiceSelect" class="form-control">
                        {{#if services}}
                            <option value="" disabled>Выберите услугу</option>
                            <option value="">Для услуги не нужно</option>
                            {{#each services}}
                                <option value="{{name}}" {{#if ../servicesSelected}}{{#ifeq this.id ../servicesSelected.id}}selected{{/ifeq}}{{/if}}>{{name}}</option>
                            {{/each}}
                        {{else}}
                            <option value="" selected disabled>Услуги отсутствуют</option>
                        {{/if}}
                    </select>
                </div>
                <div class="form-group mt-3 d-sm-block d-flex justify-content-center">
                    <button type="submit" class="divide-button">Сохранить</button>
                </div>
            </form>
            <form action="/control/edit-video/{{video.id}}/remove" method="POST" class="mt-sm-5 mt-3 d-sm-block d-flex justify-content-center">
                <button type="submit" class="divide-button">Удалить видео</button>
            </form>
        </div>
    </div>
</div>