<div class="container">
    <div class="row justify-content-center mb-5 mt-5">
        <div class="col-12">
            <h3 class="text-center mb-3">Редактирование видео для товара "{{productsSelected.name}}"</h3>
        </div>
        {{#if editSuccess}}
            <div class="col-7">
                <div class="alert alert-success text-center">{{editSuccess}}</div>
            </div>
        {{/if}}
        <div class="col-6">
            <form action="/control/edit-video/{{video.id}}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="videoUrl">Ссылка на видео из YouTube</label>
                    <input name="videoUrl" type="text" id="videoUrl" class="form-control" value="{{video.url}}">
                </div>
                <div class="form-group">
                    <label for="videoSelect">Выберите товар</label>
                    <select name="videoSelect" id="videoSelect" class="form-control">
                        {{#if products}}
                            <option value="" disabled>Выберите товар</option>
                            {{#each products}}
                                    <option value="{{name}}" {{#ifeq this.id ../productsSelected.id}}selected{{/ifeq}}>{{name}}</option>
                            {{/each}}
                        {{else}}
                            <option value="" selected disabled>Товары отсутствуют</option>
                        {{/if}}
                    </select>
                </div>
                <div class="form-group mt-3">
                    <button type="submit" class="divide-button">Сохранить</button>
                </div>
            </form>
            <form action="/control/edit-video/{{video.id}}/remove" method="POST" class="mt-5">
                <button type="submit" class="divide-button">Удалить видео</button>
            </form>
        </div>
    </div>
</div>