<div class="container">
    <div class="row justify-content-center mb-5 mt-5">
        <div class="col-12">
            <h3 class="text-center">Редактирование услуги "{{service.name}}"</h3>
        </div>
        {{#if editSuccess}}
            <div class="col-7">
                <div class="alert alert-success text-center">{{editSuccess}}</div>
            </div>
        {{/if}}
        <div class="col-6">
            <form action="/control/edit-service/{{service.id}}" method="post" enctype="multipart/form-data">
                <div class="form-group mt-3">
                    <label for="serviceName">Название услуги</label>
                    <input name="serviceName" type="text" id="serviceName" class="form-control" value="{{service.name}}">
                </div>
                <div class="form-group">
                    <label for="serviceDescription">Описание услуги</label>
                    <textarea name="serviceDescription" id="serviceDescription" class="form-control">{{service.description}}</textarea>
                </div>
                <div class="form-group">
                    <label for="servicePrice">Цена услуги</label>
                    <input name="servicePrice" type="text" id="servicePrice" class="form-control" value="{{service.price}}">
                </div>
                <div class="form-group">
                    <label for="editServiceImage">Добавьте изображения (необязательно)</label>
                    <div class="fileinput-wrapper">
                        <div class="file-upload">
                            <label>
                                <input type="file" name="editServiceImage" multiple>
                                <span>Выбрать файл</span>
                            </label>
                        </div>
                        <input type="text" id="filename" class="filename" placeholder="Название изображения" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="divide-button">Сохранить</button>
                </div>
            </form>
            <form action="/control/edit-service/{{service.id}}/remove" method="POST" class="mt-5">
                <button type="submit" class="divide-button">Удалить услугу</button>
            </form>
        </div>
    </div>
</div>