<div class="container products">
    <h2 class="text-center mt-3">Редактирование товаров</h2>
    {{#if deleteSuccess}}
        <div class="row justify-content-center">
            <div class="col-7">
                <div class="alert alert-success text-center">{{deleteSuccess}}</div>
            </div>
        </div>
    {{/if}}
    {{#if editSuccess}}
        <div class="row justify-content-center">
            <div class="col-7">
                <div class="alert alert-success text-center">{{editSuccess}}</div>
            </div>
        </div>
    {{/if}}
    {{#if divides}}
        <div class="row mt-4">
            <div class="col-sm-3 col-12">
                <ul class="nav nav-pills d-flex flex-column" id="productsTabs" role="tablist">
                    {{#each divides}}
                        <li class="nav-item">
                            <a class="nav-link {{#ifeq @index "0"}}active{{else}}{{/ifeq}}" id="divide{{id}}-tab" data-toggle="pill" href="#divide{{id}}" role="tab" aria-controls="divide{{id}}" aria-selected="{{#ifeq @index "0"}}true{{else}}false{{/ifeq}}">{{name}}</a>
                        </li>
                    {{/each}}
                </ul>
            </div>
            <div class="col-sm-9 col-12">
                <div class="tab-content" id="myTabContent">
                    {{#each divides}}
                        <div class="tab-pane fade {{#ifeq @index "0"}}show active{{else}}{{/ifeq}} row" id="divide{{id}}" role="tabpanel" aria-labelledby="divide{{id}}-tab">
                            <div class="row">
                                {{#each Products}}
                                    <div class="col-lg-4">
                                        <div class="card d-flex align-items-center mx-auto mb-4">
                                            <img class="img-fluid h-100" src="/{{Images.[0].srcImage}}" alt="card-img">
                                            <div class="service f-24 text-center">{{name}}
                                                <a href="/control/edit-product/{{id}}" class="service-button text-center">Редактировать</a>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    {{else}}
        <h3 class="text-center mt-3 mb-3">Товары отсутсвуют</h3>
        <a class="divide-link" href="/control/add-product">
            <div class="divide-button text-center mx-auto">
                Добавить товар
            </div>
        </a>
    {{/if}}
</div>